<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav>
        <div class="nav-wrapper light-blue">
            <a id="logo-container" href="/admin/panel" class="brand-logo center"><i class="material-icons">cloud</i>Admin Panel</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/admin/panel/req">Check Pending Requests</a></li>
                <li><a href="/admin/panel/manage">Manage Users</a></li>
                <li><a href="/admin/panel/create">Create User</a></li>
            </ul>
        </div>
    </nav>
</header>