<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Autor</h5>
                    <p class="grey-text text-lighten-4">Wojciech Filipowicz</p>
                    <p class="grey-text text-lighten-4">Maciej Bryła</p>
                    <p class="grey-text text-lighten-4">Szymon Rożek</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Kontakt</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright
            </div>
        </div>
    </footer>
</div>