<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="\resources\css\mycss.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <meta charset="ISO-8859-1">
</head>
<body>
<footer class="container-fluid text-center py-4">
    <div class="container-fluid text-center py-5 pre-footer text-white">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="text-uppercase mb-3 mt-4 mt-md-0">Location</h6>
                        <p class="text-muted">Krakow
                            <br/></p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-uppercase mb-3 mt-4 mt-md-0">Media</h6>
                        <a href="#" class="btn btn-with-icon btn-outline-light rounded-0">
                            <i class="fab fa-facebook-f"></i></a>
                        <a href="#"></a>
                        <a href="#" class="btn btn-with-icon btn-outline-light rounded-0">
                            <i class="fab fa-twitter"></i></a>
                        <a href="#"></a>
                        <a href="#" class="btn btn-with-icon btn-outline-light rounded-0">
                            <i class="fab fa-linkedin-in"></i></a>
                        <a href="#"></a>
                        <a href="#" class="btn btn-with-icon btn-outline-light rounded-0">
                            <i class="fab fa-google"></i></a>
                        <a href="#"></a>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-uppercase mb-3 mt-4 mt-md-0">About CryptoApp</h6>
                        <p class="text-muted">Maciej Bryla</p>
                        <p class="text-muted">Szymon Rozek</p>
                        <p class="text-muted">Wojciech Filipowicz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-muted">
                        <br/> Copyright @
                        <a target="_blank" href="https://pixelbuddha.net/livepreview/activebox/index.html" class="text-white">Fusion</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>









