<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">CryptoApp</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/crypto">Kryptowaluty</a></li>
                <li><a href="/ranking">Ranking</a></li>
                <li><a href="/history">Historia</a></li>
                <li><a href="/arbs">Arbs</a></li>
            </ul>
        </div>
    </nav>
</header>