<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="ISO-8859-1">
</head>
<body>
<div th:replace="fragments/admin_header :: header"></div>

<div class="row">
    <tr th:each="user: ${user}">
    <form  th:action="@{'/admin/panel/manage'(id=${user.id_user})}"th:object="${form}" class="col s12" method="post">

            <div class="input-field col s6">
                <input disabled value="" id="disabled" type="text" class="validate">
                <label for="disabled">User ID:<p th:text="${user.id_user}"/></label>
            </div>

            <div class="input-field col s6">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" class="validate">
                <span class="helper-text" data-error="wrong" data-success="right"><p th:text="${user.email}" /></span>
            </div>

            <div class="input-field col s6">
                <label for="user_type">User Type</label>
                <input id="user_type" name="user_type" type="text" class="validate">
                <span class="helper-text" data-error="wrong" data-success="right"><p th:text="${user.user_type}"/></span>
            </div>

            <div class="input-field col s6">
                <label for="nick">Nick</label>
                <input id="nick" name="nick" type="text" class="validate">
                <span class="helper-text" data-error="wrong" data-success="right"><p th:text="${user.nick}"/></span>
            </div>

            <div class="input-field col s6">
                <label for="delAcc">If you want to delete the account type: yes</label>
                <input id="delAcc" name="delAcc" type="text" class="validate">
            </div>
        <br/>
        <button class="btn waves-effect waves-light" type="submit" name="action">Make Changes
            <i class="material-icons right"></i>
        </button>
    </form>
    </tr>
</div>

</body>