<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="ISO-8859-1">
</head>
<body>
<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>
<form th:action="@{/crypto}" th:object="${loginForm}" method="post">
    <select class="form-control"  name="message_number" id="messageNumber">
        <option th:value="0" text="Please Select"></option>
        <option  th:value = "${cryptoList}"></option>
    </select>
    <br/>
    <input type="submit" value="check"/>
</form>


Crypto

<!--footer.html  that's here  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>